# Database connection
DATABASE_URL=postgresql+asyncpg://user:password@host:5432/dbname

# JWT Secret
JWT_SECRET_KEY=your_jwt_secret_key_here

# Community Admin Registration Authorization Code
ASTRA_ADMIN_REGISTRATION_CODE=your_community_admin_registration_code_here

# Twilio Configuration
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_phone_number_here
